# Файлы импорта и кэша Godot 4.x
.godot/

# Кэш Godot 3.x
.import/
export_preset.cfg

# Результаты сборки (бинарники)
Каждый проект может иметь свои, но обычно:
*.exe
*.zip
*.apk
*.ipa

# Специфичные файлы ОС
.DS_Store
Thumbs.db